* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
*{
    padding: 0;
    margin: 0;
}
html { width: 100%; height:100%;}

body { 
    height:100%;
    font-family: sans-serif;
}


/* desktop version */
.mobile-nav-toggler{
    display: none;
}
.mobile-menu{
    display: none;
}
    /* .menu-desktop */
    .menu-desktop{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.5);
        position: fixed;
       background-color: white;
       z-index: 1;
    }
    .menu-desktop li{
        list-style-type: none;
    }
    .menu-desktop a{
        text-decoration: none;
        color: black;
        transition: all 0.5s;
    }
    .menu-desktop a:hover{
        color: #41c4af;
    }
    /* menu-area */
    .menu-area{
        display: flex;
        width: 75%;
    }
        /* nav-left */
        .nav-left{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .nav-left .logo{
            display: flex;
            align-items: center;
            justify-content: end;
            width: 25%;
            padding-top: 5px;
        }
        .nav-left .grey-line{
            width: 2px;
            height: 60px;
            background-color: rgb(212, 212, 212);
        }
            /* main-menu */
            .main-menu{
                display: flex;
                align-items: center;
                width: 75%;
            }
            .main-menu .navigation{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-around;
            }
            .main-menu a{
                padding: 30px 10px;
                font-size: 14px;
                font-family: 'lato';
                opacity: 0.9;
            }
            
            /* nav right */
            .nav-right{
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 900;
                width: 25%;
            }
            .nav-right a{
                display: flex;
                align-items: center;
                padding: 30px 0;
            }
            .nav-right i{
                size: 100px;
            }
            .nav-right span{
                margin-left: 10px;
                font-family: 'lato';
            }
            /* menu scroll */
            .menu-scroll{
                display: none;
                position: relative;
                z-index: 1;
                left: 19%;
                top: 80px;
                width: 77%;
                height: 400px;
                background-color: #e5e5e5;
            }
            .menu-scroll ul{
                display: flex;
                flex-direction: column;
                list-style-type: none;
                width: 30%;
            }
            .menu-scroll ul li.menu-scroll-item{
                display: flex;
                align-items: center;
                justify-content:center;
                width: 100%;
            }
            .menu-scroll ul li.menu-scroll-item:nth-child(1){
                border-left: 5px solid rgb(47, 108, 159);
            }
            .menu-scroll ul li.menu-scroll-item:nth-child(2){
                border-left: 5px solid rgb(135, 200, 70);
            }
            .menu-scroll ul li.menu-scroll-item:nth-child(3){
                border-left: 5px solid rgb(105, 114, 126);
            }
            .menu-scroll ul li.menu-scroll-item:nth-child(4){
                border-left: 5px solid rgb(243, 161, 53);
            }
            .menu-scroll ul li.menu-scroll-item a{
                text-decoration: none;
                padding: 30px 0;
                font-family: 'lato';
                color: black;
            }
            .menu-scroll ul li.menu-scroll-item:hover{
                background-color: #ffffff;
                opacity: 0.8;
                transition: all 0.5s;
            }
            .menu-scroll ul li.menu-scroll-item a i{
                margin-left: 70px;
            }
            .menu-scroll-active{
                display: block;
            }
            .menu-scroll .service{
                display: none;
                height: 100%;
                width: 70%;
                position: relative;
                left: 30%;
                bottom: 316px;
                background-color: white;
                text-align: center;
                font-size: 30px;
                color: red;
            }
            .menu-scroll .service-active{
                display: block;
            }

            /* tablet version */
            @media (max-width: 992px){
                
                .nav-left{
                    width: 100%;
                    justify-content:start;
                    gap: 30px;
                }
                .nav-left .logo{
                    width: 40%;
                    justify-content: start;
                }
                .nav-right{
                    width: 40%;
                }
                .nav-left .main-menu{
                    display: none;
                }
                /* nav-toggler */
                .mobile-nav-toggler{
                    display: block;
                    opacity: 0.6;
                    transition: all 0.5s;
                }
                .mobile-nav-toggler:hover{
                    cursor: pointer;
                    opacity: 1;
                }
                .mobile-nav-toggler .toggler-burger{
                    display: flex;
                    flex-direction: column;
                    width: 30px;
                    height: 20px;
                    justify-content: space-between;
                }
                .mobile-nav-toggler .toggler-burger .icon-bar{
                    width: 100%;
                    height: 3px;
                    background-color: black;
                    transition: all 0.5s;
                }
                .mobile-nav-toggler .toggler-burger.open .icon-bar:nth-child(1) {
                    transform: translateY(8px) rotate(-45deg);
                    background-color: #41c4af;
                    transition: all 0.5s;
                    }
                    
                    .mobile-nav-toggler .toggler-burger.open .icon-bar:nth-child(2) {
                      opacity: 0;
                      transition: opacity 0.5s;
                    }
                    
                    .mobile-nav-toggler .toggler-burger.open .icon-bar:nth-child(3) {
                      transform: translateY(-8px) rotate(45deg);
                      background-color: #41c4af;
                      transition: all 0.5s;
                    }

                    /* menu mobile */
                    .mobile-menu{
                        display: none;
                        position: fixed;
                        top: 85px;
                        left: 20%;
                        background-color: rgb(239, 239, 239);
                        padding: 20px;
                        width: 80%;
                    }
                    .mobile-menu.open{
                        display: block;
                    }
                    .mobile-menu .nav-logo{
                        height: 100px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-bottom: 1px solid rgb(201, 201, 201);
                    }
                    .mobile-menu .nav-logo img{
                        width: 150px;
                    }
                    .menu-box .navigation-mobile{
                        display: flex;
                        flex-direction: column;
                    }
                    .menu-box .navigation-mobile .mobile-menu-item{
                        list-style-type: none;
                        padding: 13px;
                        border-bottom: 1px solid rgb(203, 203, 203);
                    }
                    .contact-info h4{
                        padding: 20px;
                        text-align: center;
                        font-family: 'lato';
                    }
                    .contact-info ul li{
                        list-style-type: none;
                        padding: 8px;
                    }
                    .menu-box .navigation-mobile .mobile-menu-item a, .contact-info ul li a{
                        text-decoration: none;
                        padding: 15px 10%;
                        color: black;
                        font-family: 'lato';
                        opacity: 0.9;
                        width: 100%;
                    }
                    
                    .contact-info ul li a{
                        font-size: 14px;
                    }

            }
            /* mobile version */
            @media (max-width: 767px){
                .nav-right{
                    display: none;
                }
                .menu-area{
                    width: 100%;
                }
                .nav-left{
                    width: 100%;
                    justify-content: space-around;
                }
                .nav-left .logo{
                    width: 70%;
                    justify-content: start;
                }
                .contact-info ul li a{
                    font-size: 10px;
                }
            }