* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
*{
    padding: 0;
    margin: 0;
}
html { width: 100%; height:100%;}

body { 
    height:100%;
    font-family: sans-serif;
}


/* desktop version */
.mobile-nav-toggler{
    display: none;
}
.mobile-menu{
    display: none;
}
    /* .menu-desktop */
    .menu-desktop{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.5);
        position: fixed;
       background-color: white;
       z-index: 1;
    }
    .menu-desktop li{
        list-style-type: none;
    }
    .menu-desktop a{
        text-decoration: none;
        color: black;
        transition: all 0.5s;
    }
    .menu-desktop a:hover{
        color: #41c4af;
    }
    /* menu-area */
    .menu-area{
        display: flex;
        width: 75%;
    }
        /* nav-left */
        .nav-left{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .nav-left .logo{
            display: flex;
            align-items: center;
            justify-content: end;
            width: 25%;
        }
        .nav-left .grey-line{
            width: 2px;
            height: 60px;
            background-color: rgb(212, 212, 212);
        }
            /* main-menu */
            .main-menu{
                display: flex;
                align-items: center;
                width: 75%;
            }
            .main-menu .navigation{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-around;
            }
            .main-menu a{
                padding: 30px 10px;
                font-size: 14px;
                font-family: 'lato';
                opacity: 0.9;
            }
            
            /* nav right */
            .nav-right{
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 900;
                width: 25%;
            }
            .nav-right a{
                display: flex;
                align-items: center;
                padding: 30px 0;
            }
            .nav-right i{
                size: 100px;
            }
            .nav-right span{
                margin-left: 10px;
                font-family: 'lato';
            }
            /* menu scroll */
            .menu-scroll{
                display: none;
                position: relative;
                z-index: 1;
                left: 250px;
                top: 80px;
                width: 1000px;
                height: 400px;
                background-color: #e5e5e5;
            }
            .menu-scroll ul{
                display: flex;
                flex-direction: column;
                list-style-type: none;
                width: 300px;
            }
            .menu-scroll ul li.menu-scroll-item{
                display: flex;
                align-items: center;
                justify-content:center;
                width: 100%;
            }
            .menu-scroll ul li.menu-scroll-item:nth-child(1){
                border-left: 5px solid rgb(47, 108, 159);
            }
            .menu-scroll ul li.menu-scroll-item:nth-child(2){
                border-left: 5px solid rgb(135, 200, 70);
            }
            .menu-scroll ul li.menu-scroll-item:nth-child(3){
                border-left: 5px solid rgb(105, 114, 126);
            }
            .menu-scroll ul li.menu-scroll-item:nth-child(4){
                border-left: 5px solid rgb(243, 161, 53);
            }
            .menu-scroll ul li.menu-scroll-item a{
                text-decoration: none;
                padding: 30px 0;
                font-family: 'lato';
                color: black;
            }
            .menu-scroll ul li.menu-scroll-item:hover{
                background-color: #ffffff;
                opacity: 0.8;
                transition: all 0.5s;
            }
            .menu-scroll ul li.menu-scroll-item a i{
                margin-left: 70px;
            }
            .menu-scroll-active{
                display: block;
            }
